<%# <h1>List of Medications</h1>
<table>
  
  <% @medications.each do |medication| %>
    
        <%# <%= medication.medication_name %> %>
      
        <%# <%= link_to 'Delete Medication', medication, method: :delete, data: { confirm: 'Are you sure?' } %> %>
      
      <%# <% end %> %>
   
<%# </table> %> %>
