<%# <h1>Add a new medication</h1>

<%= form_for(@medication) do |f| %> 

<%# <%= f.label :medication %> %>
<%# <%= f.text_field :medication %> %>


<%# <%= f.submit "Add a medication" %> %>

<%# <% end %> %> %>