<%= render 'web_links' %>

<h1>Index page</h1>

     
     <% @patients.each do |patient| %> 
     
     <%= link_to patient.name, patient_path(patient) %> 
        <br>
  <% end %>     

  
    
     
