<%= render 'web_links' %>

<h1>All Patients</h1>


<h2> Patients Ordered by least number of medications </h2>
  <ul>
    <% @patients.patient_meds.each do |patient| %> 
    <li> <%= link_to patient.name, patient_path(patient) %>  -- Number of Medications <%= patient.medications.count %></li>
    
    <% end %>
  </ul>
 