<h1>show patients</h1>
<%= @patient.name %>
<% byebug %>%
<%= @patient.medication.name %>
# <%# <% if @patient.user == current_user %>
<%# <% link_to "Edit Patient", edit_patient_path(@patient)%>
 <%# <%= link_to "Delete Patient", patient_path(@patient), method: :delete  %> 

 <%# <% end %>